<!-- About Section -->
<section id="about">
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2 class="section-heading">About</h2>
      <img class="img-circle img-responsive me" src="img/about/oval_me.jpg" alt="Picture of Ricky Bacci">
      <h3 class="section-subheading text-muted">Hello! My name is Ricky Bacci. I am a full stack Ruby on Rails developer with a solid foundation in Javascript.</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <ul class="timeline">
        <li>
        <div class="timeline-image">
          <img class="img-circle img-responsive" src="img/about/firefighter_medic.jpg" alt="Firefighter-Paramedic picture">
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>1991-2014</h4>
            <h4 class="subheading">Village of Cuyahoga Heights</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">I served as a firefighter paramedic and took the inititive to develop FileMaker Pro forms to assist my officers in logging fire & squad calls, fire inspections, as well as training information.</p>
          </div>
        </div>
        </li>
        <li class="timeline-inverted">
        <div class="timeline-image">
          <img class="img-circle img-responsive max-height" src="img/about/turing-logo-cr.png" alt="Turing School of software and design">
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>2015-2016</h4>
            <h4 class="subheading">Turing School of Software & Design</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              Ruby Fundamentals, Object-Oriented Programming, Agile Methodologies and Test-Driven Development.
              Focus on Sinatra, Rails, security, APIs and Services, performance and client-side development.
              Final module focus on Javascript, jQuery, with some React and Web-Sockets.
            </p>
          </div>
        </div>
        </li>
        <li class="timeline">
        <div class="timeline-image">
          <img class="img-circle img-responsive max-height"
          src="img/about/wastebits-logo.png" alt="Wastebits">
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>2016-Present</h4>
            <h4 class="subheading">Wastebits</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">Full Stack Web Developer for an AWESOME
            company!</p>
          </div>
        </div>
        </li>
      </ul>
    </div>
  </div>
</div>
</section>
